# dependencies installed by npm
node_modules

# build artefacts
public
output.png
netlify/functions/focalpoint/**
!netlify/functions/focalpoint/index.js

# secrets and errors
.env
.log

# macOS related files
.DS_Store


# Local Netlify folder
.netlify