---
layout: base
permalink:
  focalpoint: "/generate/"
eleventyComputed:
  image: "{{ eleventy.serverless.query.image }}"
  width: "{{ eleventy.serverless.query.width }}"
  height: "{{ eleventy.serverless.query.height }}"
  ratio: "{{ eleventy.serverless.query.ratio }}"
templateEngineOverride: njk, md
---

{% focusedAspectRatioImg image, width, height, ratio %}